body {
  background-color: rgb(128, 128, 179);
  margin:0;
  padding: 0;
}

#krn {
  position: absolute;
  top: 430px;
  right: 610px;
  text-align: center;
}

#cp {
  text-align: center;
}

img {
  position: absolute;
}

img#one, img#two, img#three, img#four {
  width: 100px;
  right: 600px;
}

img#two {
  top: 105px;
}

img#three {
  top: 210px;
}

img#four {
  top: 315px;
}

img#clone {
  z-index: -9999;
  width: 540px;
  top: 0;
  right: 0;
}

.wrapper {
  position: relative;
  margin: auto;
  width: 540px;
  height: 540px;
  border: 2px solid rgb(85, 0, 0);
}

.buttons {
  margin: 10px auto;
  position: relative;
  text-align: center;
  width: 540px;
  height: 30px;
}

button {
  background-color: white;
  border: 2px solid rgb(85, 0, 0);
  border-radius: 10px;
  width: 80px;
  font-size: 0.5em;
  padding: 5px 5px;
  display: inline-block;
  cursor: pointer;
  margin: 0px 5px auto;
}

table {
  margin: auto;
  border-collapse: collapse;
}

tr {
  float: right;
}

td {
  padding: 0px;
  float:right;
}
.square {
  background-color: rgb(19, 7, 58);
  width: 40px;
  height: 40px;
}
